<div class="dynamic" ng-controller="SubpageCtrl">
<div class="tree">
	<div class="subpage"> 
	<span class="post" ng-repeat="post in subpage">
		<span ng-attr-id="{{post._id}}" ng-click="click(post)" 
		ng-hide="isEditable(post)">
			{{post.text}}
		</span>
		<div ng-class="edit" ng-show="isEditable(post)">
			<textarea ng-model="newText"></textarea>
			<br>
			<button ng-click="upsert(newText, post)">ok</button>
			<label>url:</label>
			<input type="text" ng-model="newId" placeholder="{{post._id}}">
		</div>
	</span>
	</div>
	<div class="subpage"> 
	<span class="post">
		Placeholder
	</span>
	</div>
	<div class="subpage"> 
	<span class="post">
		Placeholder
	</span>
	</div>
</div>
<hr>
<div class="tree">
	<div class="subpage"> 
	<span class="post">
		Placeholder
	</span>
	</div>
	<div class="subpage"> 
	<span class="post">
		Placeholder
	</span>
	</div>
	<div class="subpage"> 
	<span class="post">
		Placeholder
	</span>
	</div>
</div>
</div>
