<br>
<div 
  class="edit" 
  tabindex="0"
  ng-attr-id="{{'0_' + subpageIndex + '_' + post._id + '_form'}}">
  <textarea
    aria-label="Draft text"
      ng-attr-id="{{'0_' + subpageIndex + '_' + post._id + '_textarea'}}" 
      ng-model="draft.text"
      ng-trim="false"
      ng-change="change('content', post)"
      ></textarea>
    <md-input-container class="route" >
    at /demo2015:/
    <input
      aria-label="editable route"
      style="display: inline-block;"
      class="slug"
      type="text"
      ng-disabled="form === 'update'"
      ng-model="draft.id"
      ng-change="change('slug', post)" 
    /></md-input-container>
    <div class="formButtons">
      <md-button tabindex=0 
        aria-label="save changes and begin adding sibling note"
        class="formButton"
        ng-click="button(post, subpage, $event, subpageIndex, 'sibling')">
          <md-icon class="tight submit" md-svg-icon="action:ic_check_circle_24px"></md-icon>
          <md-icon class="submit" md-svg-icon="content:ic_add_circle_24px"></md-icon>
          <div class="tiny">CONTINUE</div>
      </md-button>
      <md-button
        aria-label="save changes and begin adding child note"
        class="formButton"
        tabindex=0
        ng-click="button(post, subpage, $event, subpageIndex, 'child')">
          <md-icon class="tight submit" md-svg-icon="action:ic_check_circle_24px"></md-icon>
         
          <md-icon class="tight submit" md-svg-icon="navigation:ic_arrow_drop_down_circle_24px"></md-icon>
          <md-icon class="submit" md-svg-icon="content:ic_add_circle_24px"></md-icon>
          <div class="tiny">GO DEEPER</div>
          <!-- &#x2714; &#x2B07; &#x2795; -->
      </md-button>
      <md-button 
        aria-label="save changes and stop editing"
        class="formButton"
      tabindex=0 
        ng-click="button(post, subpage, $event, subpageIndex, 'save')">
          <md-icon class="submit" md-svg-icon="action:ic_check_circle_24px"></md-icon>
          <div class="tiny">SAVE</div>
        </md-button>
      </div>
</div>
