<div class="page" id="wrapper" ng-click="clickOut($event)">
  <header
    id="header"
    layout="row"
    layout-align="space-around center">
      <h3><a href="/">Datawebber</a></h3>
      <div class="formButtons">
        <md-button
          aria-label="Edit"
          class="{{header.tools.edit.buttonClass}}"
          tabindex=0
          ng-click="tool($event, 'edit')">
            <md-icon
              class="{{header.tools.edit.iconClass}}"
              md-svg-icon="image:ic_edit_24px">
            </md-icon>
            <div class="tiny">{{header.tools.edit.text}}</div>
        </md-button>
      </div>
  </header>
  <!--button ng-click="status()">status</button-->
<main>
<div class="panel" layout="column" layout-fill>
  <md-whiteframe class="md-whiteframe-z1 subpage" 
    ng-repeat="subpage in panelA" 
    ng-init="subpageIndex = $index"
    ng-class="{scaledUp: $first, scaledDown: $last}"
    ng-attr-id="{{'0_' + $index}}"> 
      <div ng-show="display[$index]['-firstForm'].isFormShowable">
        <div
          class="include" 
          ng-include="'client/views/edit.ng.html'">
        </div>
      </div>
      <span class="post" 
        ng-repeat="post in subpage" 
        ng-attr-id="{{'0_' + $parent.$index + '_' + $index}}">
          <a href="{{display[$parent.$index][post._id].route}}"
            class="{{display[$parent.$index][post._id].linkClass}}" 
            ng-click="click(post, $event, $parent.$index)"
            ng-hide="display[$parent.$index][post._id].isEditable" 
            ng-attr-id="{{'0_' + $parent.$index + '_' + post._id + '_a'}}">
              {{post.text}}
          </a>
          <div ng-show="display[$parent.$index][post._id].isFormShowable">
            <div
              class="include" 
              ng-include="'client/views/edit.ng.html'">
            </div>
          </div>
      </span>
  </md-whiteframe>
</div>
</main>
</div>
