<header>
	<select ng-model="mode">
		<option ng-repeat="mode in modes" value="{{mode.codeValue}}">
			{{mode.displayValue}}
		</option>
	</select>
	<span style="padding: 2px 7px; color: white; background: green;">{{msgToUser}}</span>
	<button ng-click="status()">status</button><br><br>
</header>
<main>
<div class="tree">
        <div class="subpage">
        <span class="post" ng-repeat="post in subpage">
                <a href="{{post._id}}" ng-class="getClass(post)" ng-click="click(post, $event)"
                ng-hide="isEditable(post)">
                        {{post.text}}
                </a>
                <div ng-class="edit" ng-show="isEditable(post)">
                        <textarea ng-model="draft.text"></textarea>
                        <br>
                        <button tabindex=0 ng-click="submit(post, $event)">Done</button>
                </div>
        </span>
        </div>
</div>
</main>
