a {
  text-decoration: none;
  color: black;
}
body {
/*  background: #dcdddd;*/
  margin: 0;
  padding: 0;
}
button:active, button:focus, button:hover {
  color: green;
}
.edit {
  display: block;
}
.include {
  display: inline-block;
}
main {
}
.outer {
  padding: 5px;
}
.page {
  width: 96%;
  max-width: 500px;
  margin: auto;
}
.panel {
}
.post {
}
select {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 100%;
}
.selected {
  background: lightcyan;
  background: linear-gradient(white, lightcyan, lightcyan, white);
}
.subpage {
  background: white;
  margin-top: 10px;
  padding: 10px;
/*
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  border-radius: 3px;
  shadow-right: 10px;
*/
}
textarea {
  width: 100%;
  margin-bottom: 3px;
}
