a {
  text-decoration: none;
  color: black;
}
body {
/*  background: #dcdddd;*/
  margin: 0;
  padding: 0;
}
button:active, button:focus, button:hover {
  color: green;
}
.edit {
  display: block;
}
.include {
  display: inline-block;
}
main {
  perspective: 600px;
}
.outer {
  padding: 5px;
}
.page {
  width: 96%;
  max-width: 500px;
  margin: auto;
}
.panel {
}
.post {
}
.route {
}
.scaledDown {
  transform: scale(.95);
}
.scaledUp {
  transform: scale(1.05);
}
select {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 100%;
}
.selected {
  background: lightcyan;
  background: linear-gradient(white, lightcyan, lightcyan, white);
}
.subpage {
  background: white;
  margin-top: 3px;
  padding: 10px;
/*
  transform: rotateX(-5deg);
  box-shadow: 
    0px -3px 1px -2px rgba(0, 0, 0, 0.14), 
    0px -2px 2px 0px rgba(0, 0, 0, 0.098), 
    0px -1px 5px 0px rgba(0, 0, 0, 0.084);
*/
}
.subpage0 {
  transform: scale(1.5, 1.5);
  background: pink;
}
.subpage2 {
  transform: scale(.75, .75);
}
.submit {
  color: green;
}
textarea {
  width: 100%;
  margin-bottom: 3px;
}
.tight {
  margin-right: -9px;
}
