a {
  text-decoration: none;
  color: black;
  white-space: pre-line;
}
body {
/*  background: #dcdddd;*/
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.edit {
  display: block;
}
.formButton {
  margin: 3px 3px 0px 0px;
  min-width: 0;
  background: radial-gradient(whitesmoke, gainsboro);  /* whitesmoke, gainsboro, whitesmoke); */
}
.formButton:focus {
  background: radial-gradient(whitesmoke, darkseagreen);
}
.formButton:active, .formButton:hover, .formButton.active {
  background: linear-gradient(whitesmoke, darkseagreen, whitesmoke);
}
.formButtons {
  display: inline-block;
}
html {
  min-height: 100%;
}
.include {
  display: inline-block;
}
main {
  perspective: 600px;
  max-width: 500px;
  margin: auto;
}
.md-left.md-right {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.outer {
  padding: 10px;
  min-height: 100%;
}
.page {
  width: 100%;
  padding-left: 2%;
  padding-right: 10%;
  margin-left: -10px;
  margin-right: -10px;
  min-height: 100vh;
}
.page:focus, .page:focus:active, .page:active, .page.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel {
}
.post {
}
.route {
  width: 50%;
  display: inline-block;
}
.scaledDown {
  transform: scale(.95);
}
.subpage.scaledUp {
  transform: scale(1.05);
  border: 0;
}
select {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 100%;
}
.selected {
  background: lightcyan;
  background: linear-gradient(white, lightcyan, lightcyan, white);
}
.slug {
  max-width: 150px;
}
.subpage {
  background: white;
  margin: 3px 0px 0px 5px;
  padding: 10px;
  border-top: 1px solid lightgray;
  box-shadow: none;
/*
  transform: rotateX(-5deg);
  box-shadow: 
    0px -3px 1px -2px rgba(0, 0, 0, 0.14), 
    0px -2px 2px 0px rgba(0, 0, 0, 0.098), 
    0px -1px 5px 0px rgba(0, 0, 0, 0.084);
*/
}
.subpage0 {
  transform: scale(1.5, 1.5);
}
.subpage2 {
  transform: scale(.75, .75);
}
.submit {
  color: green;
}
textarea {
  width: 100%;
  margin-bottom: 3px;
  border: 0;
  box-shadow: 
    0px 1px 2px 0px rgba(0, 0, 0, 0.098), 
    0px 1px 5px 0px rgba(0, 0, 0, 0.084);
}
.tight {
  margin-right: -10px;
}
.tiny {
  font-size: .5em;
  line-height: 1em;
  margin-top: -5px;
  padding-bottom: 4px;
}
